/* DOCUMENT INFORMATION
    - Document : thé thème
    - Version : 1.0.0
    - Author : florine
*/

/* Colors
    - default body text #eee
    - h1    #eee
    - h2    #333333
    - h3

    - button 
    - button:hover

    - icon      #0c950c

    - border
*/

/* FONTS  
    - Default    Lato
    - Subtitle
*/

/* CSS DIRECTORY 
    1. GLOBAL
    2. HEADER
    3. PRODUITS
*/

/* GLOBAL
================================================*/

html {
    background: #fff;
}

h1, h2, h3, h4 {
    font-family: 'Lato', 'Arial', sans-serif;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 300;
    word-spacing: 8px;
}

h1 {
    color: #eee;
}

h2 {
    color: #333333;
    font-size: 250%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

h2:after {
    display:block;
    height: 2px;
    background-color: green;
    width: 100px;
    content: " ";
    margin: 0 auto;
    margin-top: 10px;
}

h3 {
    font-size: 160%;
}

p {
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
}

section {
    padding: 30px 0 60px 0;
}

/* HEADER
================================================*/

header {
    background-image: linear-gradient( rgba(0,242,96,0.4), rgba(7,117,230,0.6)),
                      url(../images/header.jpg);
    height:100vh;
    background-position: center;
    background-size: cover;
}

.home-title {
    position: absolute;
    top: 30%;
}

.home-title h1 {
    font-size: 340%;
    color: #fff;
}

.home-title h1 span {
    font-weight: 700;
}

.home-title p {
    color: #fff;
}

/* BUTTON 
=====================================================================*/

.btn {
    display:inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 1s, color 1s, border 1s;
    margin-bottom: 20px;
}

.btn-full {
    background-color: azure;
    color: #5ee077;
    margin-right: 15px;
}

.btn-ghost {
    border: 1px solid #fff;
    color: #fff;
}

.btn-full:hover {
    background-color: #5ee077;
    color: #fff;
}

.btn-ghost:hover {
    background-color: #5ee077;
    border: 1px solid  #5ee077;
    color: #fff;
}
    
/* PRODUITS
================================================*/

.produits-plus {
    margin: 20px 0;
}

.produits-plus:hover .produits-icon {
    color: #575757;
    transform: translateX(20px);
}

.produits-img {
    max-width: 100%;
    height: auto;
}

.produits-icon {
 font-size: 34px;
 color: #0c950c;
 transition: all 1s;
}

/* FAMILLES THES
================================================*/

.famille-the {
    background-color: #cdf6e1;
}

.famille-details {
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.famille-details img{
    display: block;
    margin: 0 auto;
    width: 80%;
}

.famille-details h4 {
    text-align: center;
}

/* GALERIES PHOTOS
================================================*/

.galeries-img {
    display:block;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: 300px;
    margin-bottom: 30px;
}

.galeries-titre {
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.galeries-titre h4 {
    color: #fff;
}

/* CLIENTS
================================================*/

.clients {
    background-image: linear-gradient( rgba(0,242,96,0.4), rgba(7,117,230,0.6)),
                      url(../images/the-paysage.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.clients h2 {
    color: #fff;
}

.clients h2:after {
    background-color: #fff;
}


blockquote {
    padding: 5px;
    font-style: italic;
    line-height: 130%;
    color: #fff;
}

blockquote:before {
    content:"\201C";
    font-size: 800%;
    font-family: 'Sanchez', serif;
    position: absolute;
    top: 30px;
    left: 5px;
    color: rgba(255, 255, 255, 0.6);
}

cite {
    font-size: 90%;
    display:block;
}

cite img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

/* PACKS
================================================*/

.pack {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 20px;
}

.pack h3 {
    color: green;
    font-weight: 400;
}

.pack h4 {
    font-size: 200%;
    font-weight: 100;
}

.pack span {
    font-weight: 100;
    font-size: 40%;
    position: relative;
    top: -15px;
    left: 2px;
}

.pack-premium {
    background-color: #5ed45e;
    color: #fff;
}

.pack-title {
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid #e3e0e0;
}

.pack-title-premium {
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    position: absolute;
    top: 10px;
    right: 30px;
    background-color: #fff;
    color: green;
    border-radius: 10px;
    padding: 5px;
}

.pack-content ul {
    list-style: none;
    padding: 20px;
    font-weight: 300;
    line-height: 35px;
}

.pack-content ul li i {
    font-size: 90%;
    margin-right: 10px;
}

.pack-signup {
    text-align: center;
}

.pack-signup:hover .btn-pack {
    background-color: #2a962a;
    color: #fff;
}

.btn-pack {
    background-color: green;
    color: #fff;
    margin-bottom: 20px;
}

/* CONTACT
================================================*/

.contact-form {
    margin-bottom: 30px;
}

.contact-message {
    width: 100%;
}

.btn-contact {
        background-color: green;
        color: #fff;
}

.map {
    position:relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* FOOTER
================================================*/

footer {
    background-color: #2c2c2c;
    color: #fff;
    height: 60px;
    text-align: center;
    padding: 20px 20px;
}

.copyright {
    text-align: center;
}

.copyright a {
    color: #fff;
}
